body{
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
}



.container{
   max-width: 1000px;
   margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 .link{
    align-self: center;
}

.link a{
    text-decoration: none;
}

.link a:hover{
    color: black;
}


header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em;
    font-size: 1.4em;
}

header > h3{
    font-weight: bold;
}

.intro-image{
   max-width: 300px;
}


.intro-image > img{
    width: 100%;
    border-radius: 200px;
}

.point, .point-down{
    display: none;
}



.what-i-do{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
}

.front-end{
    font-weight: bold;
    padding: 1em;
}

.wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.image{
    max-width: 500px;
}

.image img{
    width: 100%;
}


.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-info{
    display: flex;
    flex-direction: row;
}

.info i{
  color: rgb(95, 95, 95);
}


.info-2{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-2 i {
    color: rgb(95, 95, 95);
}



.first-i{
    margin-bottom:20px;
}

.data{
    margin-left: 30px;
}

.chart{
    margin-top: 10px;
}
.back-end{
    padding: 2em;
    font-weight: bold;
}




.end-note{
    display: flex;
    justify-content: center;
    padding: 2em;
    font-weight: bold;
    font-size: 2em;
}

.mybtn{
    font-family: 'Aleo', serif;
    padding: 1.5em;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    border: none;
}


.mybtn:hover{
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

.mybtn:active{
    background-color: rgb(182, 182, 182);
}


footer{
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    padding: 2em;
}



footer a{
    margin: 0px 4em;
    color: rgb(95, 95, 95);
}

footer a:hover{
    color: black;
    cursor: pointer;
    transition: all 1s ease-out; 
    transform: scale(1.2);

}




@media(max-width: 750px){


    .show{
        display: none;
    }

    .image-1 > .point{
        display: block;
    }


}


@media(max-width:730px){


    .image-1 > .point{
        display: none;
    }

    .image-1 > .point-down{
        display: block;
    }

    footer{
        justify-content: space-around;
    }

    footer a{
        margin: 0;
        color: rgb(95, 95, 95);
    }

}






