@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5{
    font-family: 'Playfair Display', serif;
}

p, a{
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

a{
    color: white;
}

p{
    line-height: 30px;
    font-size: 18px;
}

main{
    background-color: rgb(15, 19, 21);
    background: rgb(11,81,105);
    background: linear-gradient(180deg, rgb(11, 81, 105) 0%, rgb(22, 29, 49) 100%);
    color: #fff;
    
}

img{
    width: 100%;
}


.view{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header{
    text-align: center;
}


.header__banner{
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    text-transform: uppercase;
}

.header__banner h1{
    font-size: 20px;
    padding: 5px;
}

.header__banner h2{
    font-size: 35px;
}

.content{
    padding: 4rem 10px;  
    text-align: center;
}

.content__title{
    font-size: 2rem;
    margin: 1rem;
}

.content__sub{
    margin-bottom: 3em;
}

.content__text{
    line-height: 35px;
    font-size: 20px;
    margin: 0 auto;
    max-width: 800px;
}

.content__image{
    margin-top: 2em;
}

#about-section{
    min-height: 50vh;
    background-color: rgb(255, 255, 255);
}

#about-section .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    padding: 0;
}

#about-section .content__text{
    padding: 10px;
}


.skills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill__item{
    margin: 20px;
    padding: 10px;
    max-width: 400px;
}

.skill__item h2{
    font-size: 1.5rem;
    margin: 1em 0;
}

.portfolio{
    display: flex;
    flex-direction: column;
}

.portfolio__item{
    padding: 5px;
}

.portfolio__inner{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.portfolio__inner img{
    transition: 0.5s ease;
    transform: scale(1);
}

.portfolio__inner:hover img{
    transform: scale(1.2);
}


.portfolio__info{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    opacity: 0;
    height: 0;
    transition: 0.2s ease;
}

.portfolio__inner:hover .portfolio__info{
    height: 100%;
    opacity: 1;
}

.portfolio__info p {
    font-size: 1.25rem;
}


.visit__link{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 150px;
    border: 1px solid white;
    border-radius: 5px;
    transition: 0.2s ease;
    position: relative;
    font-size: 20px;
}

.visit__link::after{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border: 2px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.visit__link:hover{
    background-color: rgb(3, 31, 48);
    border-color: rgb(3, 31, 48);
}


.footer, .socials{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer{
    min-height: 50vh;
    flex-direction: column;
    margin-top: 3em;
}

.social__link{
    position: relative;
    margin: 5px;
    border: 2px solid rgba(255, 255, 255, 0.432);
    width: 47px;
    height: 47px;
    transition: 0.5s ease;
    border-radius: 50%;
}

.social__link i{
    position: absolute;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.social__link:hover{
    background-color: white;
    border: 2px white solid;
    color: black;
}


@media only screen and (min-width: 768px) {

    .header__banner h1{
        font-size: 25px;
    }

    .header__banner h2{
        font-size: 60px;
    }

    .portfolio{
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .skill__item, .portfolio__item{
        width: 45%;
        margin: 10px;
    }
}



@media only screen and (min-width: 1024px) {

    .header__banner h1{
        font-size: 35px;
    }

    .header__banner h2{
        font-size: 80px;
        font-weight: 900;
    }

    #about-section .content{
        flex-direction: row;
        align-items: center;
    }

    #about-section .content__image{
        margin: 0;
    }

    .portfolio{
        max-width: 1200px;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .portfolio__item{
        width: 30%;
        margin: 10px;
    }

    
    .portfolio__info{
        padding: 0 1rem;    
    }
    
    .portfolio__info p {
        font-size: 1.2rem;
    }
}


@media only screen and (min-width: 1200px) {
    

    
}